<!DOCTYPE html>
<html lang=“en”>
<head>
    <meta charset=“UTF-8”>
    <meta name=“viewport” content=“width=device-width, initial-scale=1.0”>
    <meta http-equiv=“X-UA-Compatible” content=“ie=edge”>
    <title>Flask Ödev</title>

</head>
<body>
<form>
<input name="searchTxt" type="text" maxlength="512" id="searchTxt" class="searchField"/></form>
<button id="myButton" class="float-left submit-button" >Submit</button>

<script type="text/javascript">
    var input = document.getElementById("searchTxt");

    document.getElementById("myButton").onclick = function () {
        location.href = "tracks/"+ input.value ;
    };
</script>

</body>
</html>